@CHARSET "UTF-8";
   /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 100%}
    
    /* Set gray background color and 100% height */
    .sidenav {

      background-color: #f1f1f1;
      height: 650px;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: 550px;} 
    }
 */
     /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 2000px}
    
body{
		background-color: #5D8AA8
		}	
		
img:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

img {
	width: 200px;
    height: 150px;
    opacity: 1.0;
    filter: alpha(opacity=100);
}