@CHARSET "ISO-8859-1";
.modal-header, h4, .close {
      background-color: #4646ff;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
  body{
  	background-color: #8080ff;
  }
  #myBtn
	{
		width: 400px;
		height: 80px;
		margin-left:360px;
		margin-top:100px;
		animation-name: illuminati;
		animation-duration: 15s ;
		animation-iteration-count:1;
		animation-fill-mode: forwards;
	}				
	#idea{
	animation-name: illumina;
	animation-duration: 4s ;
	animation-iteration-count:1;
	animation-delay:5s;   /*ritardo*/
	animation-fill-mode: forwards;
}
#Titolo{ 
	color: white; 
	font-family: monospace;
	font-size: 40px;
	text-align: center;	
	letter-spacing:4px;
	margin-top:25px;
	position: reltive;
	animation-name: nascondi;
	animation-duration: 30s ;
	animation-iteration-count:1;
	animation-fill-mode: forwards;
}
	#myModal
	{
	animation-name: muovi;
	animation-duration: 3s ;
	animation-iteration-count:1;
	animation-fill-mode: forwards;
	}
	#box_errore{
	 
	font-weight: bold; 
	color: #fb0000; 

	/*============ANIMAZIONI===============*/
		animation-name: errore;
		animation-duration: 8s ;
		animation-iteration-count:1;
		animation-fill-mode: forwards;
}
/*per la scelta del tipo di login*/

label.btn span {
  font-size: 1.5em ;
}

label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #c8c8c8;    display: inline;
}
label input[type="radio"] ~ i.fa.fa-check-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-check-circle-o{
    color: #7AA3CC;    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
color: #7AA3CC;
}

label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #c8c8c8;    display: inline;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: #7AA3CC;    display: inline;
}
label:hover input[type="checkbox"] ~ i.fa {
color: #7AA3CC;
}

div[data-toggle="buttons"] label.active{
    color: #7AA3CC;
}

div[data-toggle="buttons"] label {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 2em;
text-align: left;
white-space: nowrap;
vertical-align: top;
cursor: pointer;
background-color: none;
border: 0px solid 
#c8c8c8;
border-radius: 3px;
color: #c8c8c8;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

div[data-toggle="buttons"] label:hover {
color: #7AA3CC;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
-webkit-box-shadow: none;
box-shadow: none;
}
